<!DOCTYPE html>
<head>
  <style>
    ul {
    list-style-type: none;
    margin: 16;
    padding: 10;
    }
  </style>
  <title>Home Page</title>
  <link rel="stylesheet" href="../styles/homePage.css" />
</head>
<body>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn"
  onclick="closeNav()">&times;</a>
  <ul>
  <li class="home"><a href="/">Home</a></li>
  <li class="settings"><a href="/settings">Settings</a></li>
  <li class="login"><a href="/login">Login</a></li>
  <li class="signup"><a href="/signUp">Sign Up</a></li>
</ul>
</div>
<span onclick="openNav()">open</span>
<div id="main">
  <u><h1>About</h1></u>
  <p> It all started on July 8th, 2019 when all 30 of us flew out to Seattle,Washington. There were already two of us that lived here and another three that ended up getting here late. We all knew almost nothing, and because of that our first week was very stressful. Yet we all kept pushing it and we each grew together not only in our studies but as a team as well. Although we cant learn and master everything within the three weeks we were given, we managed to still grow thus allowing us to break off into the teams were in now. With each of out skills we managed to make a page that allows the user to search up the nearest food and allow him to choose the distance and price range. The road was difficult but we pulled our cart and managed to create Bun-Buns!
  <u><h1>Contact Information</h1></u>
    <p><u>Joshua Murillo</u>
    <br>Email:<a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"> murillojoshua03@gmail.com</a></br>
    <u>Steve Mbouadeu</u>
    <br>Email:<a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"> mbouadeus@gmail.com</a></br>
    <u>DeAsjia Shannon</u>
    <br>Email:<a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank">deasjia.shannon@gmail.com</a></p></br>
  </div>
</body>
