<!DOCTYPE html>
<html>
  <head>
    <title>Find me some Grub!</title>
    <link href="styles.css" rel="stylesheet"/>
  </head>
  <body>
    <b><h1>Find Me Some Grub!</h1></b>
    "hello"
    <title>Page Title</title>
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/normalize.css" />
  </head>
  <body>
    <div id="login_container">
      <h5 id="login_msg">{{login_msg}}</h5>
      <a id="login_btn" href="{{login_url}}">{{login_status}}</a>
    </div>
    <nav id="navbar">
      <a href="#">Logo</a>
      <div id="nav_menu">
        <a href="#">Featured</a>
        <a href="#">Breakfast</a>
        <a href="#">Lunch</a>
        <a href="#">Dinner</a>
      </div>
    </nav>

    <form method="post" action="/results">
      <label>Location</label>
      <input type="textbox" name="location" placeholder="location" />
      <input type="submit" value="search" />
    </form>
  </body>
</html>
