<!DOCTYPE html>
<html>
  <head>
    <style>
    </style>
    <title>Page Title</title>
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body>
    <div id="login_container" class="bg-light border-bottom">
      <h6 id="login_msg">{{login_msg}}</h6>
      <a id="login_btn" href="{{login_url}}" class="btn btn-primary">{{login_status}}</a>
    </div>
    <b>Find Me Some Grub!</b>
    <div style="text-align:5px"><img width=50 src="https://i.pinimg.com/originals/42/b5/28/42b5288f0aa1056878f40ac528944772.gif"</img>
    <div class="nav">
      <ul id="nav_list" class="rounded-pill">
        <li><a class="active" href="#">Featured</a></li>
        <li><a href="#">Breakfast</a></li>
        <li><a href="#">Lunch</a></li>
        <li><a href="#">Dinner</a></li>
      </ul>
    </div>
    <div class="px-lg-5 mx-0">
      <div class="row mx-lg-n5">
        <div class="col-8 py-3 px-lg-5 border bg-light">
          <h3> Restarants </h3>
          {% for restaurant in restaurants %}
              <p>{{ restaurant }}</p>
          {% endfor %}
        </div>
        <div class="col-3 py-3 px-lg-5 border bg-light">Custom column padding</div>
      </div>
      <!--Filtering System -->

      <div id= "Filter">
        <u>Filters</u>
        <br>
        <u>Price</u>
        $<input type="checkbox" id="myCheck"  onclick="myFunction()">
        $$<input type="checkbox" id="myCheck"  onclick="myFunction()">
        $$$<input type="checkbox" id="myCheck"  onclick="myFunction()">
        <br>
        <u>Food Types</u>
        <br>
        Japanese<input type="checkbox" id="types"  onclick="myFunction()">
        Chinese<input type="checkbox" id="types"  onclick="myFunction()">
        Thai<input type="checkbox" id="types"  onclick="myFunction()">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Radius
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">1 Mile</a>
            <a class="dropdown-item" href="#">3 Miles</a>
            <a class="dropdown-item" href="#">5 Miles</a>
          </div>
        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <img width=70 src="https://media.tenor.com/images/8e18b45cd2b1ca0ecfb30ad6f286ecdc/tenor.gif"</img>
  </body>
</html>
