<!DOCTYPE html>
<html>
  <head>
    <title>Find me some Grub!</title>
  </head>
  <body>
    <b>Find Me Some Grub!</b>
    <title>Page Title</title>
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/normalize.css" />
    <!-- Menu -->
    <!-- <div class="w3-bar-block w3-light-blue"> -->
    <!-- Down Below is the coding for the logging in and out -->
    <div id="login_container">
      <h5 id="login_msg">{{}}</h5>
      <a id="login_btn" href="/login">login</a>
    </div>
    <!-- sidebar -->
    <body>

      <!-- <div class="sidebar">
      </div> -->
      <!-- .sidebar{
        border:50px;
      } -->
    </body>
    <nav id="navbar">
      <!-- Logo Image -->
      <div style="text-align:5px"><img src="https://i.pinimg.com/originals/42/b5/28/42b5288f0aa1056878f40ac528944772.gif"</img>
        <!-- Navigation Menu Coding -->
      <div id="nav_menu">
        <a href="#">Featured</a>
        <a href="#">Breakfast</a>
        <a href="#">Lunch</a>
        <a href="#">Dinner</a>
      </div>
    </nav>

    <div id= "F">
    <p class= "Features">Featured</p>
    <p class= "Features">Featured</p>
    <p class= "Features">Featured</p>
    <p class= "Features">Featured</p>
    <p class= "Features">Featured</p>
    <p class= "Features">Featured</p>
    <p class= "Features">Featured</p>
    <p class= "Features">Featured</p>
    </div>
  </body>
</html>
