<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/preferences.css" />
    <title>Preferences</title>

  </head>
  <body>
    <!-- <h1>Preferences</h1> -->
    <form method="POST" action="/preferences">
      <input type="hidden" name="email" value="{{email}}" />
      <!-- <input type="submit" value="enter" /> -->




<div class = "wrapper">

  <h2 id = "preferences">Preferences</h2>
<!-- First question -->
      <div id = "firstOption">
      <h2><b>Do you like coffee?</h2>
        <select class="options">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>

  <!-- Second question -->
      <div id = "secondOption">
      <h2><b>Do you like sweets?</h2>
        <select class="options">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>

  <!-- Third Option -->
      <div id = "thirdOption">
      <h2><b>Do you like cheese?</h2>
        <select class="options">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>


  <!-- Fourth question -->
      <div id = "fourthOption">
      <h2><b>It really be like that?</h2>
        <select class="options">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>

  <!-- Fifth Question -->
      <div id = "fifthOption">
      <h2><b>Why ask for berger no peckle but tre peckle?</h2>
        <select class="options">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>

  <!-- Sixth question -->
      <div id = "sixthOption">
      <h2><b>Are you vegetarian?</h2>
        <select class="options">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>

     <div>
      <button id = "submitButton">Submit</button>
    </div>
</div>










  </body>
</html>
