<!doctype html>
<html>
  <head>
    <title>Quick Bites | {{name}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/restaurant.css" />
  </head>
  <body class="bg-white">
    {% if login_msg != 'Welcome, Guest'%}
    <a id="settings" href="/settings" class="btn btn-danger float-left ml-2">Settings</a>
    {% endif %}
    <div id="login_container" class="bg-light border-bottom mb-5">
      <h6 id="login_msg">{{login_msg}}</h6>
      <a id="login_btn" href="{{login_url}}" class="btn btn-danger">{{login_status}}</a>
    </div>
    <button id = "home_button" class="btn btn-danger" onclick="location.href = '/';">Back</button>
    <div id="header" class="map-responsive mt-5">
      <iframe
         frameborder="0" style="border:0"
         src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBK7QF_rpObxmuuru1jM-_CLvwchD8GAww&q={{address}}" allowfullscreen class="rounded-top">
        </iframe>
      <div id="restaurant_details" class="p-4 rounded-bottom">
        <div>
          <img src="{{icon}}" width="80" class="mr-4" />
        </div>
        <div id="left">
          <h3 id="res_title">{{name}}</h3>
          <h5 id="res_address">{{address}}</h5>
          <h4 id="res_rating">
            {% if rating_int == 1 %}
              &starf;
            {% elif rating_int == 2 %}
              &starf;&starf;
            {% elif rating_int == 3 %}
              &starf;&starf;&starf;
            {% elif rating_int == 4 %}
              &starf;&starf;&starf;&starf;
            {% elif rating_int == 5 %}
              &starf;&starf;&starf;&starf;&starf;
            {% endif %}
          </h4>
      </div>
      <div id="right">
        <button class="btn btn-danger mb-3" onclick="location.href = 'https://www.google.com/maps/search/?api=1&query={{address}}';">Directions</button><br>
        <div id="open_status" class="alert alert-success" role="alert">
          Open Now
        </div>
      </div>
      </div>
    </div>


    {% if show_comments %}
    <div id="comments_sec" class="mx-auto mt-5">


    <form method="POST" action="/review">
      <div style="display: flex; justify-content: space-between;" class="mb-3">
      <h3 class="d-inline-block">Leave a comment</h3>
      <select name="review_rating" class="res_rating">
        <option value="1">&starf;</option>
        <option value="2">&starf;&starf;</option>
        <option value="3">&starf;&starf;&starf;</option>
        <option value="4">&starf;&starf;&starf;&starf;</option>
        <option value="5">&starf;&starf;&starf;&starf;&starf;</option>
      </select>
    </div>
      <textarea name="review_message" rows="5" cols="80"></textarea><br>

      <input type="hidden" value="{{name}}" name="name" />
      <input type="hidden" value="{{icon}}" name="icon" />
      <input type="hidden" value="{{address}}" name="address" />
      <input type="hidden" value="{{id}}" name="id" />
      <input type="hidden" value="{{user}}" name="user" />
      <input type="submit" value="submit" class="btn btn-danger btn-lg"/>
    </form>

    {% if comments %}
    <ul class="list-unstyled mt-5">

      {% for i in range(amount_comments) %}
      <li class="media border bg-light rounded p-2 mb-3">
        <img src="{{icons[i]}}" class="mr-3" alt="icon" width="50">
        <div class="media-body">
          <h5 class="mt-0 mb-1">{{comments.comments_reviewer[i]}}</h5>
          <h6 class="mt-0 mb-1">{{comments.comments_time[i]}}</h6>
          <h6 id="res_rating" class="mt-0 mb-1">
            {% if comments.comments_rating[i] == '1' %}
              &starf;
            {% elif comments.comments_rating[i] == '2' %}
              &starf;&starf;
            {% elif comments.comments_rating[i] == '3' %}
              &starf;&starf;&starf;
            {% elif comments.comments_rating[i] == '4' %}
              &starf;&starf;&starf;&starf;
            {% elif comments.comments_rating[i] == '5' %}
              &starf;&starf;&starf;&starf;&starf;
            {% endif %}
          </h6>
          {{comments.comments_message[i]}}
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endif %}
    <!-- <div style="position:relative;padding-top:56.25%;">
    <iframe
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBK7QF_rpObxmuuru1jM-_CLvwchD8GAww
    &q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe>
</div> -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- <script src="../js/restaurant.js"></script> -->
  </body>
</html>
