<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/settings.css" />
    <title>Setting</title>
  </head>
  <body>
    <div id="login_container" class="bg-light border-bottom">
      <h6 id="login_msg">{{login_msg}}</h6>
      <a id="login_btn" href="{{login_url}}" class="btn btn-primary">{{login_status}}</a>
    </div>


    <!-- Home button design -->
    <div id = "homeButton">
      <button type = "button" class = "btn mt-3 btn-secondary">Home</button>
  </div>


  <!-- Username Button -->
  <div id = "wrapper">
    <button>Change Username</button>


  </div>



  </body>
</html>
