<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles/signUp.css" />
  <title>Signing Up!</title>
</head>
<body>
  <div id="wrapper" class="SignUp">
    <!--Here is the sign in title -->
    <u>Welcome to the Sign Up Page!</u>
    <!--Here is the info the person put in to sign up -->
  </div>
  <div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Tabs Titles -->
    <h2 class="active"> Sign Up </h2>
    <h2 class="inactive underlineHover">Login </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://media0.giphy.com/media/mEFT2ieWRFEcM/source.gif" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form method="POST">
      <input type="text" id="First Name" class="fadeIn second" name="first_name" placeholder="First Name">
      <input type="text" id="Last Name" class="fadeIn third" name="last_name" placeholder="Last Name">
      <input type="email" id="Email" class="fadeIn second" name="email"
      placeholder="Email">
      <input type="password" id="password" class="fadeIn second" name="passw1"
      placeholder="Password">
      <input type="password" id="password2" class="fadeIn second" name="passw2" data-match="#password"
      data-match-error="Whoops, password don't match" placeholder="Repeat Password">
      <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>







  <!-- <p>
    <br>First Name: </br><input type="text" name="inputBox" value=" ">

  <br>Last Name:
    </br><input type="Last Name" name="inputBox" value=" ">

  <br>Email:
    </br><input type="text" name="inputBox" value=" ">

  <br>Password:</br>
    <input type="text" name="inputBox" value=" ">

  <br>Repeat Password:</br>
  <input type="text" name="inputBox" value=" "> -->

  <!-- <br><button type="button" style="height:32px; width:103px" name="button">SUBMIT</button></p> -->
</body>
</html>




<!--Found A COOL WAY TO MAKE COMMENTS

<textarea rows="4" cols="50" name="comment"></textarea>
-->
