<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/signup.css" />
  <title>Signing Up!</title>
</head>
<body>
  <div id="wrapper" class="SignUp">
    <!--Here is the sign in title -->
    <u>Welcome to the Sign Up Page!</u>
    <!--Here is the info the person put in to sign up -->
  </div>
  <div class="wrapper fadeInDown">
    {% if form_invalid %}
      <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Email already registered</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
  <div id="formContent">

    <!-- Tabs Titles -->
    <h2 class="active"> Sign Up </h2>
    <h2 class="active underlineHover"><button onclick="window.location.href = '/login';">Sign In </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://media0.giphy.com/media/mEFT2ieWRFEcM/source.gif" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <br>
    <form method="POST">
      <input type="text" id="First Name" class="fadeIn second" name="first_name" placeholder="First Name" required>
    </br>
    <br><input type="text" id="Last Name" class="fadeIn third" name="last_name" placeholder="Last Name" required>
    </br>
    <br><input type="email" id="Email" class="fadeIn second" name="email" value="{{email}}" placeholder="Email" required>
    </br>
      <br><input type="password" id="password" class="fadeIn second" name="passw1"
      placeholder="Password" minlength="8" required>
    </br>
      <br><input type="password" id="password2" class="fadeIn second" name="passw2" data-match="#password"
      data-match-error="Whoops, password don't match" placeholder="Repeat Password" minlength="8" required>
      <br>
      <br><input type="submit" class="fadeIn fourth" value="Sign Up">
    </br>
    </form>







  <!-- <p>
    <br>First Name: </br><input type="text" name="inputBox" value=" ">

  <br>Last Name:
    </br><input type="Last Name" name="inputBox" value=" ">

  <br>Email:
    </br><input type="text" name="inputBox" value=" ">

  <br>Password:</br>
    <input type="text" name="inputBox" value=" ">

  <br>Repeat Password:</br>
  <input type="text" name="inputBox" value=" "> -->

  <!-- <br><button type="button" style="height:32px; width:103px" name="button">SUBMIT</button></p> -->
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/bouncer@1/dist/bouncer.polyfills.min.js"></script>
  <script>
	 var validate = new Bouncer('form');
  </script>
</body>
</html>




<!--Found A COOL WAY TO MAKE COMMENTS

<textarea rows="4" cols="50" name="comment"></textarea>
-->
