<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles/signUp.css" />
  <title>Signing Up!</title>
</head>
<body>
  <div id="wrapper" class="SignUp">
    <!--Here is the sign in title -->
    <u>Welcome to the Sign Up Page!</u>
    <!--Here is the info the person put in to sign up -->
  </div>
  <p>
    <br>First Name: </br><input type="text" name="inputBox" value=" ">

  <br>Last Name:
    </br><input type="Last Name" name="inputBox" value=" ">

  <br>Email:
    </br><input type="text" name="inputBox" value=" ">

  <br>Password:</br>
    <input type="text" name="inputBox" value=" ">

  <br>Repeat Password:</br>
  <input type="text" name="inputBox" value=" ">

  <br><button type="button" name="button">SUBMIT</button></p>
</body>
</html>




<!--Found A COOL WAY TO MAKE COMMENTS

<textarea rows="4" cols="50" name="comment"></textarea>
-->
