
body{
  margin: 0;
  padding: 0;
  background: url(https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F470276%2Fgettyimages-653387690.jpg&w=700&op=resize);
  background-size: cover;
}




.wrapper {
  margin: 0 auto;
  width: 1000px;
  height: 1100px;
  background:#FCD8AB;
  padding: 1rem;
  box-shadow: 5px 10px 10px black;
  border-radius: 50px;
}


#preferences {
  position: relative;
  left: 8vw;
  font-size: 15vh;
}


#firstOption {
  position: absolute;
  top: 28vh;
  left: 29vw;
  color: black;

}


#secondOption {
  position: absolute;
  top: 40vh;
  left: 29vw;

}



#thirdOption {
  position: absolute;
  top: 52vh;
  left: 29vw;

}



#fourthOption {
  position: absolute;
  top: 65vh;
  left: 29vw;
  
}


#fifthOption {
  position: absolute;
  top: 78vh;
  left: 29vw;

}


#sixthOption {
  position: absolute;
  top: 92vh;
  left: 29vw;

}

.options {
  background-color: white;
  outline-color: red;
  border-color: red;
}


#submitButton {
  position: absolute;
  top: 110vh;
  left: 29vw;
  font-size: 24px;
  border-radius: 15px;
  border-color: orange
}
