form {
  text-align: left;
}

#login_container {
  padding: .2rem 1rem;
  text-align: right;
}

#settings {
  padding: .1rem .5rem;
  margin: .2rem 0;
}
#login_msg {
  display: inline-block;
  margin: 0 .5rem;
}
#img{
  /* padding-left: 4px; */
  margin-left: 14px;
}
#login_btn {
  padding: .1rem .5rem;
}

.nav {
  margin: .5rem 1rem 2rem;
}

#nav_list {
  overflow: hidden;
}

#Filter{
  background-color: lightblue;
  border-radius: 25px;
  border: 3px solid;
  padding: 20px;
  /*padding-right: 180px;*/
  padding-left: 160px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom:50px;
  margin-top:-475px;
  width:541px;
  float: right;
  position:relative;
  z-index: 1;

}
#background{

}

.nav ul {
  display: flex;
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  flex-grow: 1;
  font-size: 1.2em;
  height: 50px;
  line-height: 50px;
  height: 40px;
  width: 100%;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #dc3545;
}

.nav a.active {
  background-color: #dc3545;
  color: #fff;
  cursor: default;
}

#res_results {
  display: block;
  position: relative;
  height: 50vh;
  overflow: auto;
  margin-right: 2rem;
}

.restaurant_item {
  cursor: pointer;
}

#container {
  display: flex;
  flex: 1;
  justify-content: center;
}

#filter {
  align-self: flex-start;
}

.filter_elem {
  margin-top: .5rem;
}

#submit_btn {
  margin-top: .5rem;
}

#res_results, #filter {
  background-color: #E8E9EB;
}
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

h1{
  text-align:center;
}
}

@media screen and (max-width: 600px) {
  #container {
    flex-direction: column-reverse;
  }

  #filter {
    align-self: stretch;
    max-width: calc(100% - 4rem);
    margin: 0 2rem 1rem;
  }

  #filter_cont {
    text-align: center;
  }

  .filter_elem {
    display: inline-block;
  }

  #submit_btn {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }
  #res_results {
    align-self: stretch;
    max-width: calc(100% - 4rem);
    margin: 0 2rem;
  }
}
