form {
  text-align: left;
}

.main_container {
  margin: 0 auto;
}

#login_container {
  padding: .2rem 1rem;
  text-align: right;
}

#login_msg {
  display: inline-block;
  margin: 0 .5rem;
}
#img{
  /* padding-left: 4px; */
  margin-left: 14px;
}
#login_btn {
  padding: .1rem .5rem;
}
 b{
  float: left;
  margin-bottom: -27px;
  margin-left: 25px;
  padding-top: -25px;
  margin-top: -35px;
  position:relative;
  z-index: 1;
   text-shadow: 0 0px 0 #cc00ff,
               0 0px 0 #fb50e5,
               0 1px 0 #bbb,
               0 0px 0 #fb50e5,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 0px 0px rgba(137, 43, 161, 1),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 5px 5px rgba(0,0,0,.2),
               0 0px 0px rgba(43,161,49,1);
  font-size: 20px;
} */
.nav {
  margin: 2rem 1rem;
}

#nav_list {
  overflow: hidden;
}
#nav_menu {
<<<<<<< HEAD
=======
  display: inline-block;
  float: right;
}
#Filter{
  background-color: lightblue;
  border-radius: 25px;
  border: 3px solid;
  padding: 20px;
  /*padding-right: 180px;*/
  padding-left: 160px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom:50px;
  margin-top:-475px;
  width:541px;
  float: right;
  position:relative;
  z-index: 1;

}
#background{

}

.nav ul {
  display: flex;
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  flex-grow: 1;
  font-size: 1.2em;
  height: 50px;
  line-height: 50px;
  height: 40px;
  width: 100%;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #007bff;
}

.nav a.active {
  background-color: #007bff;
  color: #fff;
  cursor: default;
}

#res_results {
  display: block;
  position: relative;
  max-height: 60vh;
  overflow: auto;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

h1{
  text-align:center;
}
>>>>>>> 36db61f79920a63f61812f185c7f23697d9bc481
